.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 24px 0;
}    
    ul{
    list-style: none;
}
header > div{
    display: flex;
    justify-content: space-between;
}
.nav > ul{
    display: flex ;
    flex-direction: row;
    column-gap: 20px; 
}
a{
    color: black;
    text-decoration: none;
}
.kv{
    background-image: url(img/クラシコムtop.jpg);
    size: cover;
    height: 500px;
}

#top{
    width: 800px;
    height: 400px;
    background-color: skyblue;
    margin: 20px;
}

.first-top{
    width: 50%;
    background-color: pink;
    font-size: 40px;
    font-weight: bold;

}
.second-top{
    width: 50%;
    background-color: yellow;
}
.third-top{
    width: 180px;
    text-align: center;
    padding: 5px 15px;
    background-color: violet;
    border: solid 1px black;
}

.inner{
    width: 800px;
    margin: auto;
}
.title{
    margin-bottom: 0px;
    font-size: 42px;
}
.subtitle{
    margin-top: 0px;
    font-weight: bold;
    border-bottom: 1px solid black;
    padding-bottom: 12px;
    text-align: right;
}
.card-list{
    display: flex;
    flex-wrap: wrap;
}
.card-list li{
    display: flex;
    flex-direction: column;
    width: 33%;
    margin: auto;
}
.card-list li >div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}
.card-list img{
    width: 100%;
    height: 150px;
}
.card-list li > div {
    flex: 1;
}
.business-flex {
    width: 100%;
    display: flex;
    gap: 40px;
}

.business-flex > div:first-child {
    /* テキスト部分 */
    flex: 1 1 0;
    /* 可能であれば最大幅を制限 */
    max-width: 55%;
}

.business-flex > div:last-child {
    /* 画像部分 */
    flex: 1 1 0;
    display: flex;
    align-items: flex-start; /* 上寄せ */
    justify-content: center; /* 中央寄せ（お好みで）*/
    max-width: 45%;
}

.service {
    width: 100%;
    max-width: 330px;
    height: auto;
    object-fit: cover;
}
