.nav{
    text-decoration: none;
    display: inline-block   ;
    margin: 30;
    display: flex;
    color: black;
    
}

#top{
    width: 800px;
    height: 400px;
    background-color: skyblue;
    margin: 20px;
}

.first-top{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: pink;
    font-size: 40px;
    font-weight: bold;

}
.second-top{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: yellow;
}
.third-top{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: violet;
    border: solid 1px black;
}

