ul{
    list-style: none;
}
.nav > ul{
    display: flex ;
    flex-direction: row;
    column-gap: 20px; 
}
a{
    color: black;
    text-decoration: none;
}
.kv{
    background-image: url(../img/クラシコムtop.jpg);
    size: cover;
    height: 500px;
}

#top{
    width: 800px;
    height: 400px;
    background-color: skyblue;
    margin: 20px;
}

.first-top{
    width: 50%;
    background-color: pink;
    font-size: 40px;
    font-weight: bold;

}
.second-top{
    width: 50%;
    background-color: yellow;
}
.third-top{
    width: 180px;
    text-align: center;
    padding: 5px 15px;
    background-color: violet;
    border: solid 1px black;
}

.inner{
    width: 800px;
    margin: auto;
}
.title{
    margin-bottom: 0px;
    font-size: 42px;
}
.subtitle{
    margin-top: 0px;
    font-weight: bold;
    border-bottom: 1px solid black;
    padding-bottom: 12px;
    text-align: right;
}
.card-list{
    display: flex;
    flex-wrap: wrap;
}
.card-list li{
    width: 33%;
    margin: auto;
}
.card-list img{
    width: 100%;
    height: 150px;
}
.card-list li > div {
    flex: 1;
}

